body{
    background: lightgray;
    margin: 0;
}

header h1 {
    background-color: white;
    margin: 10px;
    text-align: center;
    padding: 10px;

}
div.post{
   display: flex;
   justify-content: space-between;
   padding: 5px;
   font-size: small;

}
.date{
    padding-top: 25px;
    color: gray;
}

img{
    width: 100%;
}

div.photo {
    width: 600px;
    margin: auto;
    background: white;  
}
div.photo p{
    padding: 10px;
}
.post-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    font-size: 20px;
}

.icons-left{
    display: flex;
    gap: .5rem;
    align-items: center;

}
.heart  {
    fill: red;
}
.bookmark{
    float: right;
    padding-right: 20px;
}

